<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
        <a class="navbar-brand" href="{% url 'catalog:home' %}">Онлайн магазин</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex align-items-center w-100">
                <li class="nav-item active">
                    <a class="nav-link text-danger" href="{% url 'catalog:product_list' %}">Главная</a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form action="{% url 'users:logout' %}" method="post" class="m-0 p-0 d-flex align-items-center">
                            {% csrf_token %}
                            <button type="submit" class="nav-link text-danger" style="border: none; background: none; padding: 0.5rem 1rem; margin: 0; cursor: pointer; vertical-align: middle;">
                                Выйти
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" href="{% url 'users:register' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>