{% extends 'base.html' %}

{% block title %}
    {% if product %}Изменить товар{% else %}Добавление нового товара{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>
        {% if product %}
            Изменить продукт
        {% else %}
            Добавить новый товар
        {% endif %}
    </h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">
            {% if product %}
                Сохранить изменения
            {% else %}
                Добавить
            {% endif %}
        </button>
        <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Отмена</a>
    </form>

</div>
{% endblock %}